{{ define "main" }}
  <main class="post">
    <article>
      <h2 class="post-title">{{ .Title }}</h2>
      <div class="post-content">
        {{ .Content }}
        <ul class="list pl0 mt0 measure-wide">
          {{ range index .Site.Data.publications "Select Publications" }}
          <li class="mb4 pb3 bb b--black-10">
            <h3 class="f4 mb1">{{ .Title }}</h3>
            <p class="f6 mb1">{{ .Journal }}, {{ .Year }}</p>
            <p class="f6 mb2">{{ .Authors | safeHTML }}</p>
            <p class="f5 lh-copy">{{ .Summary }}</p>
            <a href="{{ .Link }}" class="f6 link dim br2 ph3 pv2 mb2 dib white bg-dark-blue" style="text-decoration: none;" target="_blank" rel="noopener">Read More</a>
          </li>
          {{ end }}
        </ul>
      </div>
    </article>
  </main>
{{ end }}